<%- include('includes/head')%><!-- Chama o header para as páginas-->
<%- include('includes/nav')%> <!-- Chama o nav para as páginas-->

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    
    <div class="col-lg-8">
      <h1 class="text-center"> Login </h1>
      <p class="text-center lead">Faça Login ou Crie sua conta abaixo</p>

      <%- include('includes/messagens'); %>

      <div class="row">
        <div class="col-lg my-3">
          <h4>Faça seu Cadastro</h4>
          <p>Se ainda não tem sua conta, crie aqui:</p>
          <form class="form-cadastro"action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>> 
            <div class="form-group">
              <label>Seu Email</label>
              <input type="email" class="form-control" name='email'>
            </div>
            <div class="form-group"> 
              <label>Sua Senha</label>
              <input type="password" class="form-control" name='password'>
            </div>
            <button type="submit" class="btn btn-primary my-2">Criar conta</button>
          </form>
        </div>

        <div class="col-lg my-3">
          <h4>Faça seu Login</h4>

          <p>Faça seu login:</p>
          <form class="form-login" action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>> <!-- proteção do form-->

            <div class="form-group">
              <label>Seu Email</label>
              <input type="email" class="form-control" name='email'>
            </div>
            <div class="form-group">
              <label>Sua Senha</label>
              <input type="password" class="form-control" name='password'>
            </div>
            <button type="submit" class="btn btn-primary my-2">Entrar</button>
            
          </form>
        </div>
      </div>
     


    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer') %> <!-- Chama o footer para as páginas-->

   